/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --gray-lightest: #ebebeb52;
  --gray-lighter: #ebebeb;
  --gray-light: #e2e2e2;
  --gray: #d8d8d8;
  --gray-dark: #cacaca;
  --gray-darker: #838383;
  --gray-darkest: #4d4d4d;
  --gray-darkest-1: #3a3a3a;
  --gray-darkest-2: #272727;
}
:root {
  --vp-code-tab-bg: #252836;
  --vp-code-block-bg: #292d3e;

  --vp-code-line-height: 1.6;
}

a:hover {
  text-decoration: none !important;
}
.VPNav .curtain {
  border-top: 1px solid var(--gray-light);
}
.dark .VPNav .curtain {
  border-top: 1px solid var(--gray-darkest);
}
.VPNav .curtain::before {
  background: none !important;
}

.VPNav {
  z-index: 999;
}
.VPNavBar .title {
  border-right: none;
}
.VPSidebar .curtain {
  z-index: 999;
  position: absolute;
  width: 120%;
}
/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

.vp-doc [class*='language-'] pre code {
  padding: 0 20px;
}
.vp-doc div[class*='language-'] {
  border-radius: 5px;
}
.vp-doc [class*='language-'] pre {
  padding: 18px 0;
}
.vp-doc [class*='language-'] .line-numbers-wrapper {
  padding: 18px 0 0 5px;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

.VPHomeHero {
  color: -webkit-linear-gradient(120deg, #302957 30%, #bbb5b5) !important;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #302d41 30%, #bbb5b5);

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #ff4141 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

:root {
  --vp-sidebar-width: 272px;
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.VPSidebar {
  background-color: var(--vp-c-bg) !important;
  border-right: 1px solid var(--gray-lighter);
}

.VPSidebar .curtain {
  font-size: 13px;
  background-color: var(--vp-c-bg) !important;
}
.dark .VPSidebar {
  border-right: 1px solid var(--gray-darkest-1);
}

.VPSidebar .VPSidebarItem .text {
  font-size: 13px;
}
